header{
    font-size: 300%;
    background-color: gray;
    font-style: italic;
    color: white;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

.card{
    width: 30%;
    height: 30%;
}